<div class="back">
    <h1 class="heading">Anime Review Page</h1>
    <div class="imageBack">
        <div class="slider">
            <span style="--i:1;"><img src="../../assets/Images/gal1.jpg" alt=""></span>
            <span style="--i:2;"><img src="../../assets/Images/gal2.jpg" alt=""></span>
            <span style="--i:3;"><img src="../../assets/Images/gal3.jpg" alt=""></span>
            <span style="--i:4;"><img src="../../assets/Images/gal4.jpg" alt=""></span>
            <span style="--i:5;"><img src="../../assets/Images/gal5.jpg" alt=""></span>
            <span style="--i:6;"><img src="../../assets/Images/gal6.jpg" alt=""></span>
            <span style="--i:7;"><img src="../../assets/Images/gal7.jpg" alt=""></span>
            <span style="--i:8;"><img src="../../assets/Images/gal8.jpg" alt=""></span>
        </div>
    </div>
</div>